:root {
    --border:rgb(218, 38, 128);
}
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

    background-color: black;
    color: white;
}

header {
   padding: 30px;
   border-bottom: 2px solid var(--border);
}

h1 {
    display: inline;
    font-size: 50px;
    color: rgb(20, 194, 229);
}

nav {
    float: right;
    
}

nav li {
    margin: 20px;
    font-size: 20px;
}
li {
    display: inline;
}

.quote {
    font-style: italic;
    text-align: end;
    padding: 5px 30px;
    border-bottom: 2px solid var(--border);
}

.quote h2, h3, h4, h5 {
margin: 5px;
}
.quote h2, h3 {
    font-size: 18px;
}

.quote h4 {
    font-size: 16px;
}
.quote h5 {
    font-size: 14px;
}

main {
    padding: 30px;
}
main h2 {
    font-size: 40px;
}

.aboutme {
    display: inline-block;
}

.aboutme img {
    float: right;
    position: relative;
    bottom: 50px;
    border-radius: 50px;
    margin-left: 20px;
}

.aboutme p {
    font-size: 25px;
}

.container {
    display: inline-block;
    text-align: center;
}

.container h2 {
    text-align: start;
}

.card {
    
    flex: 1 0 0;
}

.card img {
    width: 100%;
    min-width: 300px;
}

#charlie1 {
    width: 100%;
}

